@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Lexend:wght@100..900&family=Magra:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #1B2025;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.img-header{
    width: 150px;
}
.main{
    width: 100%;
    height: 620px;
    background: url("https://i.ibb.co/4szZqT2/bg.png") no-repeat top right/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}
.left{
    width: 50%;
    height: 100%;
    padding-top: 70px;
}
.right{
    width: 45%;
    height: 100%;
}
.left > p{
    color: rgb(235, 235, 235);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.left > h2{
    color: #1B2025;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.308);
}
.left > a{
    padding: 10px 20px ;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    transition: .6s;
    background: transparent;
    color: #1B2025;
    border: 2px solid #1B2025;
    text-decoration: navajowhite;
}
.left > a:hover{
    border: 2px solid #1B2025;
    background: #1B2025;
    color: orange;
}
span{
    font-size: 14px;
    font-weight: 500;
}
em , i{
    color: white;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 32, 37, 0.62);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-circle {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #ff8000; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main {
    display: none;
}
#show{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    animation: anime1 .6s ease-in-out infinite;
    cursor: pointer;
}
@keyframes anime1  {
    0% , 100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
}